/* UserStats.module.css */

.contentBox {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .fixedCard {
    /*border-radius: 4px; /* Optional: Add a slight border radius for better appearance */
    box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.3); /* Stronger shadow, offset to the right and down */
  }
  
  .scrollableContent {
    max-height: 400px;
    overflow-y: auto;
  }
  
  
  