@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden; /* Prevent scrolling */
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sideBar {
  width: 250px;
  background-color: #f8f9fa; /* Adjust as needed */
  border-right: 1px solid #ddd; /* Optional border */
  padding: 20px;
}

.sideBar ul {
  list-style-type: none;
  padding: 0;
}

.sideBar li {
  margin: 10px 0;
}

.sideBar .nav-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.sideBar .nav-link i {
  margin-right: 10px;
}

.sideBar .nav-link:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
  color: blue;
}

/* Style for the stats cards */
.stats-card {
  background-color: #f8f9fa; /* Adjust as needed */
  padding: 20px;
  text-align: center; /* Center the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-card-title {
  font-size: 1.5em; /* Adjust the font size */
  font-weight: 450;
  margin-bottom: -15px;
}

.stats-card-value {
  font-size: 4em; /* Adjust the font size */
  font-weight: bolder;
  color: #041C2C; /* Adjust the color if needed */
}

.main-content {
  flex-grow: 1;
  background-color: #4698CB; /* Background color for main content */
  padding: 20px;
  overflow-y: auto;
}

.content-box {
  background-color: #C4C4C4;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure elements are spaced out */
}

.content-box-small {
  height: 200px;
}

.us-map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Aspect ratio adjustment */
  overflow: hidden;
}

.us-map-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; /* Ensure SVG is properly layered */
}

.popup {
  position: absolute;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10; /* Ensure popup appears above other elements */
}

.globe-container {
  width: 100%; /* Make container take full width */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  padding: 20px; /* Add some padding */
}

.large-image-globe {
  max-width: 100%; /* Make sure it scales within its container */
  height: auto; /* Maintain aspect ratio */
  width: 100%; /* Adjust the width as needed, could be in percentage or fixed value */
}



.h4.font-weight-bold.mb-2,
.display-4.font-weight-bold.mb-2,
.h4.font-weight-bold.mb-4 {
  color: #041C2C;
  font-size: 30px;
  position: absolute;
  z-index: 1;
}

.h4.font-weight-bold.mb-2 {
  top: 90%;
  transform: translate(-35%, -1675%);
}

.display-4.font-weight-bold.mb-2 {
  font-size: 40px;
  font-weight: bolder;
  top: 90%;
  transform: translate(100%, -1270%);
}

.h4.font-weight-bold.mb-4 {
  font-weight: bolder;
  font-size: 40px;
  top: 90%;
  transform: translate(0%, -1200%);
}
