body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sideBar {
  width: 250px;
  background-color: #f8f9fa; /* Adjust as needed */
  border-right: 1px solid #ddd; /* Optional border */
}

.main-content {
  flex-grow: 1;
  background-color: #4698CB; /* Background color for main content */
  padding: 20px;
  overflow-y: auto;
}

.content-box {
  background-color: #C4C4C4;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure elements are spaced out */
}

.content-box-small {
  height: 200px;
}

.us-map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Aspect ratio adjustment */
  overflow: hidden;
}

.us-map-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; /* Ensure SVG is properly layered */
}

.popup {
  position: absolute;
  background: white;
  box-shadow: 20px 20px 50px 10px #F0B323 inset;
  padding: 10px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  z-index: 10; /* Ensure popup appears above other elements */
}



.globe-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* Make sure the container takes up the full height */
}


.globe-container img {
  position: absolute;
  top: 140%;
  transform: translate(-23%, -50%);
  width: 550%; /* Increase the width significantly to make the globe larger */
  height: auto; /* Maintain aspect ratio */
}

.large-image-globe {
  position: absolute;
  top: 85%;
  transform: translate(-23%, -50%);
  width: 150%; /* Increase the width significantly to make the globe larger */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it doesn't interfere with other elements */
}

.h4.font-weight-bold.mb-2 {
  color: #041C2C;
  font-size: 30px;
  position: absolute;
  top: 90%;
  transform: translate(-35%, -1622%);
  z-index: 1;
}

.display-4.font-weight-bold.mb-2 {
  color: #041C2C;
  font-size: 40px;
  font-weight: bolder;
  position: absolute;
  top: 90%;
  transform: translate(100%, -1230%);
  z-index: 1;
}

.h4.font-weight-bold.mb-4 {
  color: #041C2C;
  font-weight:bolder;
  font-size: 40px;
  position: absolute;
  top: 90%;
  transform: translate(0%, -1150%);
  z-index: 1;
}
