/* User.module.css */

.header {
  background-color: #fff;
  padding: 5px 0; /* Reduce padding to make the header thinner */
  color: white;
  text-align: center;
  width: 100%; /* Ensure it extends to the full width */
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

.avatar {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.main-content {
  padding: 0 !important;
}

