@keyframes dropDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(20%);
  }
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(10%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropAway {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.text-drop-in {
  animation: dropDown 1s ease-in-out;
}

.text-drop-out {
  animation: dropAway 1s ease-in-out;
}

/* Existing CSS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden; /* prevents scrolling */
}

.header {
  /*background-color: #282c34;*/
  padding: 20px;
  color: white;
  text-align: center;
}

.row {
  padding-left: none;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sideBar {
  width: 250px;
  background-color: #f8f9fa; /* Adjust as needed */
  border-right: 1px solid #ddd; /* Optional border */
}

.sideBar ul {
  list-style-type: none; /* Remove bullet points */
  padding-left: 0; /* Remove default padding */
}

.sideBar .nav-link {
  display: flex;
  align-items: center;
  color: #000; /* Adjust link color as needed */
  text-decoration: none; /* Remove underline */
  padding: 10px 0; /* Add some padding for better spacing */
}

.sideBar .nav-link:hover {
  color: #F0B323; /* Optional: Change color on hover */
}

/* Style for the stats cards */
.stats-card {
  background-color: #f8f9fa; /* Adjust as needed */
  padding: 20px;
  text-align: center; /* Center the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-card-title {
  font-size: 1.5em; /* Adjust the font size */
  font-weight: 300;
  margin-bottom: -15px;
}

.stats-card-value {
  font-size: 4em; /* Adjust the font size */
  font-weight: bolder;
  color: #041C2C; /* Adjust the color if needed */
}

.main-content {
  flex-grow: 1;
  background-color: #4698CB; /* Background color for main content */
  padding: 20px;
  overflow-y: auto;
}

.content-box {
  background-color: #C4C4C4;
  padding: 20px;
  text-align: center; /* Center the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-box-small {
  height: 200px;
}

.us-map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Aspect ratio adjustment */
  overflow: hidden;
}

.us-map-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; /* Ensure SVG is properly layered */
}

.popup {
  position: absolute;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10; /* Ensure popup appears above other elements */
}

.navbar-nav {
  list-style-type: none; /* Remove bullet points */
  padding-left: 0; /* Remove default padding */
}

.navbar-nav .nav-item {
  margin-right: 15px; /* Optional: Add some space between items */
}

.navbar-nav .nav-link {
  color: #000; /* Adjust link color as needed */
  text-decoration: none; /* Remove underline */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Optional: Change color on hover */
}

.globe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.large-image-globe {
  width: 335px; /* Set the width of the globe */
  height: 390px; /* Set the height of the globe */
  z-index: 1; /* Ensure it doesn't interfere with other elements */
  object-fit: contain; /* Ensure the image scales correctly within the container */
}

.text-container {
  text-align: center;
  margin-bottom: 20px;
}

.h4.font-weight-bold.mb-2 {
  color: #041C2C;
  font-size: 30px;
  position: absolute;
  top: 90%;
  transform: translate(-20%, -1730%);
  z-index: 1;
}

.display-4.font-weight-bold.mb-2 {
  color: #041C2C;
  font-size: 40px;
  font-weight: bolder;
  position: absolute;
  top: 90%;
  transform: translate(200%, -1310%);
  z-index: 1;
}

.h4.font-weight-bold.mb-4 {
  color: #041C2C;
  font-weight: bolder;
  font-size: 40px;
  position: absolute;
  top: 90%;
  transform: translate(0%, -1235%);
  z-index: 1;
}

.display-4 .text-drop-in{
  font-size: 30px;  

}

.display-4-small {
  font-size: 1.5rem !important; /* Adjust the size as needed */
}
