/* Existing styles */
@keyframes dropDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(20%);
  }
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(10%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropAway {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.text-drop-in {
  animation: dropDown 1s ease-in-out;
}

.text-drop-out {
  animation: dropAway 1s ease-in-out;
}

.animated-text-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #041C2C;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  width: 40%;
  padding-right: 20px;
}

.animated-text-container h2 {
  font-size: 1.5rem;
  margin: 0;
}

.animated-text-container .large-number {
  font-size: 4rem;
  font-weight: bold;
  color: #4698CB;
  margin: 0;
  text-align: left;
  width: 100%;
  padding-left: 10px;
}

.animated-text-container .small-text {
  font-size: 4rem;
  font-weight: bold;
  color: #041C2C;
  margin: 0;
}

.animated-text {
  animation: fadeIn 1.5s ease-in-out;
}

.stack-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.stack-text span {
  display: block;
  text-align: left;
  font-size: 4rem;
  font-weight: bold;
  color: #041C2C;
  width: 100%;
  margin: 0;
}

.countries-served {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #041C2C;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  text-align: left;
}

.countries-served .large-number {
  font-size: 4rem;
  font-weight: bold;
  color: #4698CB;
  margin: 0;
  text-align: left;
  width: 100%;
}

.countries-served .small-text {
  font-size: 4rem;
  font-weight: bold;
  color: #041C2C;
  margin: 0;
}

.countries-served .serving-text {
  font-size: 2rem;
  font-weight: bold;
  color: #041C2C;
  margin: 0;
  text-align: left;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Existing CSS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden;
}

.header {
  padding: 20px;
  color: white;
  text-align: center;
}

.row {
  padding-left: none;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sideBar {
  width: 250px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
}

.sideBar ul {
  list-style-type: none;
  padding-left: 0;
}

.sideBar .nav-link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 10px 0;
}

.sideBar .nav-link:hover {
  color: #F0B323;
}

/* Style for the stats cards */
.stats-card {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-card-title {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: -15px;
}

.stats-card-value {
  font-size: 4em;
  font-weight: bolder;
  color: #041C2C;
}

/* Updated styles */
.main-content {
  flex-grow: 1;
  background-color: #4698CB;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
}

.overview-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-box {
  background-color: #C4C4C4;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 500px;
  position: relative;
  margin-bottom: 20px;
}

.content-box-small {
  height: 200px;
}

.us-map-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
}

.us-map-container svg {
  position: absolute;
  top: -10%; /* Adjust this value to move the map up or down */
  left: 30%; /* Adjust this value to move the map left or right */
  width: 140%; /* Increase to make the map larger */
  height: 140%; /* Increase to make the map larger */
  z-index: 5;
}

/* Adjust globe container */
.globe-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.globe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}

.large-image-globe {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

/* Popup styles */
.popup {
  position: absolute;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  max-width: 250px;
  white-space: normal;
}

.popup p {
  margin: 0;
  line-height: 1.2;
}

.popup .line1 {
  margin-bottom: 1px;
}

.popup .number {
  font-weight: bold;
  color: #4698CB;
}

.navbar-nav {
  list-style-type: none;
  padding-left: 0;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar-nav .nav-link {
  color: #000;
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.text-container {
  flex: 0 0 auto;
  max-width: 200px;
  text-align: left;
}

.display-4-small {
  font-size: 1.5rem !important;
}

/* Media Queries for Responsive Design */
@media (max-width: 575.98px) {
  .main-content {
    padding: 10px;
  }

  .content-box {
    flex-direction: column;
    height: auto;
  }

  .animated-text-container {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .us-map-container {
    width: 100%;
    height: 300px;
  }

  .sideBar {
    width: 100%;
  }

  .stats-card-value {
    font-size: 2em;
  }

  .stats-card-title {
    font-size: 1em;
  }
}

@media (max-width: 767.98px) {
  .main-content {
    padding: 15px;
  }

  .content-box {
    flex-direction: column;
    height: auto;
  }

  .animated-text-container {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .us-map-container {
    width: 100%;
    height: 300px;
  }

  .sideBar {
    width: 100%;
  }

  .stats-card-value {
    font-size: 2.5em;
  }

  .stats-card-title {
    font-size: 1.2em;
  }
}

@media (max-width: 991.98px) {
  .main-content {
    padding: 20px;
  }

  .content-box {
    flex-direction: column;
    height: auto;
  }

  .animated-text-container {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .us-map-container {
    width: 100%;
    height: 300px;
  }

  .sideBar {
    width: 100%;
  }

  .stats-card-value {
    font-size: 3em;
  }

  .stats-card-title {
    font-size: 1.3em;
  }

  .globe-content-box {
    height: auto;
  }

  .globe-container {
    height: 300px;
  }
}

@media (max-width: 1199.98px) {
  .main-content {
    padding: 25px;
  }

  .content-box {
    flex-direction: column;
    height: auto;
  }

  .animated-text-container {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .us-map-container {
    width: 100%;
    height: 300px;
  }

  .sideBar {
    width: 100%;
  }

  .stats-card-value {
    font-size: 3.5em;
  }

  .stats-card-title {
    font-size: 1.4em;
  }
}





